/* #article{
    text-align: center;
}

.text{
    color:rgb(123, 122, 122);
    font-weight: bold;
    font-family: sans-serif;
}

h1{
    color:rgb(123, 122, 122);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

img{
    width:250px;
    height:250px;
}