
/*responsive design for smaller window sizes*/
@media all and (max-width:700px){
    th{
        display:none;
    }
    .price, .high, .desc, .name{
        display:none;
    }
    table, td{
        border:none;
    }
}

@media all and (max-width:1100px){
    .price{
        display:none;
    }
}

@media all and (max-width:1020px){
    .price, .high{
        display:none;
    }
}

@media all and (max-width:850px){
    .price, .high, .desc{
        display:none;
    }
}