

/*responsive design for smaller window sizes*/
@media all and (max-width:720px){
    th{
        display:none;
    }
    .price, .high, .desc, .name{
        display:none;
    }
    table, td{
        border:none;
    }
}

@media all and (max-width:1150px){
    .price{
        display:none;
    }
}

@media all and (max-width:1070px){
    .price, .high{
        display:none;
    }
}

@media all and (max-width:890px){
    .price, .high, .desc{
        display:none;
    }
}