
img{
    height:200px;
    width:200px;
}

#contact{
    float:left;
    width:50%;
    color:rgb(91, 89, 89);
    font-family: sans-serif;
}

#commissions{
    float:right;
    width:50%;
    color:rgb(91, 89, 89);
    font-family: sans-serif;
}

.insta_logo{
    float:none;
    height:30px;
    width:30px;
}

.etsy_logo{
    float:none;
    height:30px;
    width:30px;
}
