/* h3{
    color:rgb(17, 109, 29);
    font-family: sans-serif;
}

h1{
    color:rgb(17, 109, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

table{
    border: 2px solid black;
    width:100%;
    border-collapse: collapse;
    /* overflow: auto; */
}

td,th{
    border:1px solid black;
    padding: 5px;
    text-align: center;
}

th{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #article{
    overflow:auto;
} */
.tall_img{
    width:397px;
    height:529px;
} 

.wide_img{
    width:397px;
    height:298px;
}

/*responsive design for smaller window sizes*/
@media all and (max-width:720px){
    th{
        display:none;
    }
    .price, .high, .desc, .name{
        display:none;
    }
    table, td{
        border:none;
    }
}

@media all and (max-width:1130px){
    .price{
        display:none;
    }
}

@media all and (max-width:1050px){
    .price, .high{
        display:none;
    }
}

@media all and (max-width:880px){
    .price, .high, .desc{
        display:none;
    }
}