
img{
    width:397px;
    height:298px;
}

png{
    width:397px;
    height:298px;
}

/*responsive design for smaller window sizes*/
@media all and (max-width:720px){
    th{
        display:none;
    }
    .price, .high, .desc, .name{
        display:none;
    }
    table, td{
        border:none;
    }
}

@media all and (max-width:1160px){
    .price{
        display:none;
    }
}

@media all and (max-width:1050px){
    .price, .high{
        display:none;
    }
}

@media all and (max-width:880px){
    .price, .high, .desc{
        display:none;
    }
}